{% extends 'base.html.twig' %}

{# {% block title %}Hello RecipeController!
{% endblock %} #}
{% block body %}


	<section id="allRecette">
		{% for recette in recettes %}
			<article>
				<h3>{{recette.name}}</h3>
				<p>Categorie :
					{{recette.categorie}}
				</p>
				<a href="{{path('app_recette', {id: recette.id})}}">Voir détails</a>
			</article>
		{% endfor %}
	</section>

	<a href="{{path('app_recette_create')}}">Ajouter une recette</a>

{% endblock %}